<div class="container">
  <h4>Welcome to BlocItOff! Let's start working <%= current_user.email %>!</h4>
  </br>
<div class="container">
  <p> Here you can:
    <li> Create To-Do items</li>
    <li>Mark items complete by clicking the checkmark.</li>
    </br>
    <li><strong>Hustle! Your items will delete after 7 days.</strong><li>
</div>
</br>
</br>
<div class="container">
  <h5>My ToDo Items:</h5>
    <%= render partial: "items/item", locals: {user: @user} %>
</br>
  <h5>Add a To-Do item: </h5>
    <%= render partial: "items/form", locals: {user: @user} %>
</div>
</div>
